__pycache__/
*.pyc
.venv/
venv/
venv.ps100-backup-*/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
logs/
.pids/
data/
ui/dist/
working/
tmp/
private/
storage/
*.log
node_modules
.env
*.tfstate
*.egg-info/
dist/
.pip.conf.build
